DB_USER=vector_user
DB_PASS=vector_pass
DB_NAME=vector_db
DB_HOST=localhost
DB_PORT=5432
API_PORT=8000
FRONTEND_PORT=3000
FRONTEND_URL=http://localhost:3000
GCP_KEY_PATH=/fine-tuning/key.json
GCP_PROJECT_ID=your-project-id
BQ_DATASET_ID=analytics
EMBEDDING_MODEL_NAME=text-embedding-005
GENERATIVE_MODEL_NAME=gemini-2.0-flash-lite-001
DATABASE_URL=postgresql://vector_user:vector_pass@localhost:5432/vector_db
